html {
    height: 100% ;
    font-family:"Raleway", sansserif;
}

body {
    height: 100% ;
    margin: 0 ;
}

header {
    height: 100%;
    margin: 0 ; 
}

nav {
    height: 100% ;
    position: absolute ;
    top: 0 ;
    right: 0 ;
}

.button {
    border: black 2px solid ; 
    padding: 0.25em ;
    margin: 2px ;
}

.button:hover {
    background: red ;
}
#settingsbutton, #loginbutton {
    width: 110px;
}

#searchexpander {
    position: absolute ; 
    right : 123px ; 
    top : 0 ;
    width : 150px
    border: 2px black solid ; 
    padding: 0.25em ; 
    margin: 0 1px 0 0 ;
}

#searchbox, input#searchbox:focus {
    position: absolute ;
    top : 0 ;
    right : 66px ;  
    border: 2px black solid ; 
    padding: 0.25em ;
    font-size: 1em ; 
    margin: 2px ;
    outline: none;
}

#searchbutton {
    position: absolute ; 
    right : 0 ; 
    top : 0 ;
}

#topbar {
    background: grey ;
    position: absolute ;
    top: 0 ;
    left: 0 ;
    right: 0 ; 
    height: 70px ;
}

#settings {
    position: fixed ;
    top:  0;
    bottom: 0;
    right: 0 ;
    width: 0;
    height: 100% ; 
}

#login {
    position: fixed ;
    top:  0;
    bottom: 0;
    right: 0 ;
    width: 0;
    height: 100% ; 
}


#map {
    position: fixed ;
    top: 70px ; 
    bottom: 0 ;
    left: 0 ; 
    right: 0 ; 
}
