{% extends "MMP_base.html"  %}

    {% block head %}
    {% endblock %}

    {% block content %}
    <div id="MMP_user_plotting_settings">

        <span id="MMP_current_user">{{user.lastfmusername }}</span>
        <h5>Personal data to map:</h5>
        <input type="checkbox" class="MMP_plotting_checkbox"  id="MMP_recent" data-user_LFM="{{ user.lastfmusername }}" data-user_LAT="{{ user.currentlocation.latitude }}" data-user_LNG="{{ user.currentlocation.longitude }}"  onClick=0 checked> Recently Listened.
        <input type="checkbox" class="MMP_plotting_checkbox" id="MMP_top" data-user_LFM="{{ user.lastfmusername }}" data-user_LAT="{{ user.currentlocation.latitude }}" data-user_LNG="{{ user.currentlocation.longitude }}" onClick=0> Top 50 Artists.<br/>
        {% if user.friends.all|length >= 1 %}
        <h5>Map friends playlists?</h5>
        {% for f in user.friends.all %}
        <input type="checkbox" class="MMP_plotting_checkbox" id="MMP_recent" data-user_LFM="{{ f.lastfmusername }}" data-user_LAT="{{ f.currentlocation.latitude }}" data-user_LNG="{{ f.currentlocation.longitude }}" onClick=0> {{ f.user.username }}<br/>

        {% endfor %}
        <input type="button" id="MMP_update_plotting_settings" value="Update" onClick=0>
        {% endif %}
    </div>
    {% endblock %}

    {% block scripts %}
        <script>
            $( document ).ready(function(){
                MMP_update_plotting();
            });    
            $("#MMP_update_plotting_settings").click(function(){
                MMP_update_plotting();
            });           
        </script>
    {% endblock %}




