<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <head>
        <title>{% block title %} Map My Playlist {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/MMP_main.css" />
        <link href='http://fonts.googleapis.com/css?family=Raleway:400' rel='stylesheet' type='text/css'>
        {% block head %} {% endblock %}
    </head>
    
    <body>
        <div id="topbar">
            <header>
            <h1>Map My Playlist</h1>
            </header>
            
            <nav>
                <p id="settingsbutton" class="button">Settings</p>
                <p id="loginbutton" class="button">Login/Register</p>
            </nav>
        </div>

            {% block content %}{% endblock %}

        <div id="settings">
            Test
        </div>
          
        <div id="login">
                This is a test
        </div>
        
        <script type="text/javascript" src="static/js/jquery.js"></script>
        {% block scripts %} {% endblock %}
        <script>
            var settingsvis = false;
            var loginvis = false;

            $("#settingsbutton").click(function() {
                if(settingsvis == false){
                    $("#settings").animate({"width": "300px"}, "slow");;
                    $("#map").animate({"right": "300px"}, "slow");
                    $("#topbar").animate({"right": "300px"}, "slow");
                    settingsvis = true;
                }else if(settingsvis == true){
                    $("#settings").animate({"width": "0"}, "slow");
                    $("#map").animate({"right": "0"}, "slow");
                    $("#topbar").animate({"right": "0"}, "slow");
                    settingsvis = false;
                }
            });

            $("#loginbutton").click(function() {
                if(loginvis == false){
                    $("#login").animate({"width": "300px"}, "slow");
                    $("#map").animate({"right": "300px"}, "slow");
                    $("#topbar").animate({"right": "300px"}, "slow");
                    loginvis = true;
                }else if(loginvis == true){
                    $("#login").animate({"width": "0"}, "slow");
                    $("#map").animate({"right": "0"}, "slow");
                    $("#topbar").animate({"right": "0"}, "slow");
                    loginvis = false;
                }
                });

        </script> 

    </body>
</html>
