{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <head>
        <title>{% block title %} Map My Playlist {% endblock %}</title>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
        <link rel="stylesheet" type="text/css" href="http://leaflet.cloudmade.com/dist/leaflet.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="http://leaflet.cloudmade.com/dist/leaflet.ie.css" /><![endif]-->
        {% block head %} {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/MMP_main.css" />
    </head>
    
    <body>
        <div id="topbar">
            <header>
            <h1>Map My Playlist</h1>
            </header>
            
            <nav>
                <div id="searchexpander">
                    <input id="MMP_search_box" type="text" name="searchbox"><br>
                    <img id="MMP_search_button" class="button" src="{{ STATIC_PREFIX }}img/MMP_search_icon.png" height="52px">
                    <img id="MMP_search_clear_button" class="button" src="{{ STATIC_PREFIX }}img/MMP_clear_icon.png" height="20px">
                </div>

                <p id="settingsbutton" class="button">Settings</p>
                <p id="loginbutton" class="button">Login</p>
            </nav>
        </div>
        <div id="map_container">
        <div id="map">
        </div>

        <div id="MMP_unknown_artist_prompt">
        </div>
        </div>
        <div id="settings">
		<h1>Settings</h1>
               
		
		<div class="mapappearance">
		<h4>Change map appearance</h4>
		<FORM NAME="mapappearance_form">
		<img class="img" src="{{ STATIC_PREFIX }}img/toner.jpg" height="40" width="40" alt="toner">
		<input type="radio" name="display" value="toner">Toner
		<br>
		<img class="img" src="{{ STATIC_PREFIX }}img/watercolour.jpg" height="40" width="40" alt="watercolour">
		<input type="radio" name="display" value="watercolour">Watercolour
		<br>
		<img class="img" src="{{ STATIC_PREFIX }}img/mapnik_grey.png" height="40" width="40" alt="greyscale">
		<input type="radio" name="display" value="greyscale">Greyscale
		<br>
		<img class="img" src="{{ STATIC_PREFIX }}img/mapnik_mapquest.jpg" height="40" width="40" alt="openstreetmap">
		<input type="radio" name="display" value="openstreetmap">OpenStreetMap
		<br>
		<INPUT TYPE="button" NAME="button" Value="Update changes" onClick="changeTiles(mapappearance_form)"> <BR>
		</FORM>
		</div>
		
		
            {% block content %}{% endblock %}
        </div>    
       
          
        <div id="login">
                This is a test
            </div>

        <div id="locationentry">
            <div id="searchexpander2">
                <input id="locationbox" type="text" name="searchbox">
                <img id="locationbutton" class="button" src="{{ STATIC_PREFIX }}img/MMP_search_icon.png" height="52px">
            </div>
        </div>
        
        <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.js"></script>
        <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="https://raw.github.com/CloudMade/Leaflet/master/dist/leaflet-src.js"></script>
        <script type="text/javascript" src="{{ STATIC_PREFIX }}js/raphael-min.js"></script>
        <script type="text/javascript" src="https://raw.github.com/dynmeth/RaphaelLayer/master/dist/rlayer.js"></script>
        <script type="text/javascript" src="{{ STATIC_PREFIX }}js/leaflet.label.js"></script>
        <script type="text/javascript" src="{{ STATIC_PREFIX }}js/artistmapping.js"></script>
        <script type="text/javascript" src="{{ STATIC_PREFIX }}js/enterlocation.js"></script>
        {% block scripts %} {% endblock %}
        <script>
            var settingsvis = false;
            var loginvis = false;
            var siderbarpresent = false;

            $("#settingsbutton").click(function() {
                if(!settingsvis){
                    $("#settings").animate({"width": "300px"}, "slow");;
                    $("#map_container").animate({"right": "300px"}, "slow");
                    $("#map").animate({"right": "300px"}, "slow");
                    $("#topbar").animate({"right": "300px"}, "slow");
                    settingsvis = true;
                    siderbarpresent = true;
                }else if(settingsvis){
                    $("#settings").animate({"width": "0"}, "slow");
                    $("#login").animate({"width": "0"}, "slow");
                    $("#map_container").animate({"right": "0"}, "slow");
                    $("#map").animate({"right": "0"}, "slow");
                    $("#topbar").animate({"right": "0"}, "slow");
                    settingsvis = false;
                    loginvis = false;
                    siderbarpresent = false;
                }
            });

            $("#loginbutton").click(function() {
                if(!loginvis){
                    $("#login").animate({"width": "300px"}, "slow");
                    $("#map_container").animate({"right": "300px"}, "slow");
                    $("#map").animate({"right": "300px"}, "slow");
                    $("#topbar").animate({"right": "300px"}, "slow");
                    loginvis = true;
                    siderbarpresent = true;
                }else if(loginvis){
                    $("#settings").animate({"width": "0"}, "slow");
                    $("#login").animate({"width": "0"}, "slow");
                    $("#map_container").animate({"right": "0"}, "slow");
                    $("#map").animate({"right": "0"}, "slow");
                    $("#topbar").animate({"right": "0"}, "slow");
                    loginvis = false;
                    settingsvis = false;
                    siderbarpresent = false;
                }
                });

        </script> 

    </body>
</html>
