{% extends "MMP_base.html"  %}

    {% block content %}
    <div id="map">
        {{ user.lastfmusername }}
        {{ user.user.username }}
    </div>
    {% endblock %}

    
    {% block scripts %}
    <script>
(function($){
    $.fn.plotArtists = function(test){
        $.each(this, function(){ 
            console.log(this.name);
            console.log(test);
        })
    };
})(jQuery);


        $( document ).ready(function() {
            $.getJSON('/finduserplaylist/wildfreenoise/', function(data){
                var hello = "This is a test"
                $(data).plotArtists(hello)});
        });
    </script>
    {% endblock %}


