{% extends "MMP_base.html"  %}

{% block content %}

        <div id="login">
            <form id="loginform" method="POST" action="">{{csrftoken}}
            {{ login_form.username }}
            {{ login_form.password }}
    	<input type="submit" value="login"/>
    </form>

</div>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.js"></script>
<script>
$(document).ready(function (){
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    crossDomain: false, // obviates need for sameOrigin test
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

});

$("#loginform").submit(function(event) {
	$.post("/ajaxlogin/", function() {
		$('#loginform').serialize();
	});
	event.preventDefault();           
});
</script>

<div id="map">

    {{ userprofile.as_p }}

{{ username }}
</map>
{% endblock %}
