<!DOCTYPE html>
<html>
<head>
    <title>MapMyPlaylist</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="http://leaflet.cloudmade.com/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="static/bootstrap.css"> 
    <!--[if lte IE 8]><link rel="stylesheet" href="http://leaflet.cloudmade.com/dist/leaflet.ie.css" /><![endif]-->
</head>
<body>
    <div id="header" class="navbar">
            <div class="navbar-inner">
                <h1 id="name" class="brand">MayMyPlaylist</h1>
                <h1 id="text" class="left">Search artist:<h1>
    <form action="demo_form.asp"> 
                      <input type="text" name="artist" size="4" class="mapplaylist">
                      <!--<input type="submit" value="Map!" class="subbutton">-->
                </form>
		<input type="button" id="startButton" class="btn" value="Map!">		
		<input type="button" id="login" class="btn" style="float:right" value="Login">		
		<input type="button" id="settings" class="btn" style="float:right" value="Settings" onClick="location.href='templates/settings.html'">
            </div>
            <div id="artists"></div>  
    </div>
      
    <div id="map" style="width: 100%; height: 85%"></div>
                
    <!--<script type="text/javascript" src="https://raw.github.com/dynmeth/RaphaelLayer/master/dist/rlayer.js"></script>
    <script type="text/javascript" src="https://raw.github.com/DmitryBaranovskiy/raphael/master/raphael-min.js"></script>-->
    <script type="text/javascript" src="https://raw.github.com/CloudMade/Leaflet/master/dist/leaflet-src.js"></script>
    <script type="text/javascript" src="static/jquery.js"></script>
    <script type="text/javascript" src="static/map.js"></script>       
</body>
</html>
