<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
     	<script type="text/javascript" src="static/jquery.js"></script>
     	<script type="text/javascript">
            $( document ).ready(function() {
                    function getplaylist() {
                        $(function() {
                            $.getJSON('/finduserplaylist/wildfreenoise/', function(data) {
                                $.each(data, function() {
                                    $("#artists").append(this.name + "</br>")
                                    });
                                });
                            })
                    }
                    getplaylist();
                    setInterval( getplaylist, 30000 );
            })
                                
        </script>

    <div id="artists">
    </div>
    </body>
</html>
