<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <head>
        <title>{% block title %} Map My Playlist {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/MMP_main.css" />
        {% block head %} {% endblock %}
    </head>
    
    <body>
        <div id="topbar"></div>
            <header>
                <h1 id="name" class="brand">MayMyPlaylist</h1>
            </header>
            <nav>
                <h1 id="text" class="left">Search artist:<h1>
                <form action="demo_form.asp">
                <input type="text" value ="grammo106" name="artist" size="4" class="mapplaylist">
                <!--<input type="submit" value="Map!" class="subbutton">-->
                </form>
                <input type="button" id="startButton" class="btn" value="Map!">	
                <input type="button" id="login" class="btn" style="float:right" value="Login">	
                <input type="button" id="register" class="btn" style="float:right" value="Register">	
            </nav>
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>
          
        <script type="text/javascript" src="static/jquery.js"></script>
        {% block scripts %} {% endblock %}
    </body>
</html>
